/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Header styles */
h1 {
    color: rgba(79, 54, 116, 1);
}

h3 {
    color: rgba(214, 168, 0, 1);
    text-align: center;
}

/* Image gallery styles */
#image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 10%;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: 0.75em;
    color: rgba(117, 117, 117, 1);
}
